body {
	height: 100vh;
	background: #2774AE;
	display: flex;
	flex-flow: column;
	align-items: center;
	overflow: scroll;
}

.container-header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.header {
	width: 28vw;
	font-size: 7vw;
	text-align: left;
	color: #FFD100;
	margin: 5px;
	line-height: 6.5vw;

	font-family: Helvetica, Arial, sans-serif;
}

#container-quote-list {
	width: fit-content;
	min-height: 50vh;

	display: flex;
	flex-flow: column;
	align-items: center;
	margin-bottom: 15vh;
	overflow: scroll;
}

.site-header {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	width: 54vw;
	min-height: fit-content;
	margin: 5vw;
}

.quote-single {
	width: 75vw;
	min-height: fit-content;
	border: solid 5px white;
	border-radius: 20px;
	background: white;

	display: flex;
	flex-flow: row;

	margin-top: 5px;
	margin-bottom: 5px;
}

.quote-pfp {
	width: 15vw;

	display: flex;
	align-items: center;
	justify-content: center;
}

.tuba {
	width: 10vw;

	margin-top: 10px;
	margin-bottom: 10px;
}

.quote-info {
	width: 60vw;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}

.quote-header {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.quote-said {
	font-size: 3.5vw;
	margin: 5px;
	font-family: Helvetica, Arial, sans-serif;
	color: #d6d6d6;
}

.quotee {
	font-size: 4vw;
	margin: 5px;
	font-family: Helvetica, Arial, sans-serif;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.quote-text {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.quote {
	overflow-wrap: break-word;
	width: 40vw;
	font-size: 3vw;
	margin: 5px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

.container-buttons {
	z-index: 99;
	width: 100%;
	height: 20vh;
	position: fixed;
	bottom: 0px;

	/*background: #FFD100;*/

	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

#add {
	min-height: 10vh;
	min-width: 10vh;
	background: #FFD100;
	border: solid 1vw #FFD100;
	border-radius: 50%;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 5vw;
	font-weight: bold;
	font-size: 10vh;
	color: #2774AE;

	line-height: 5vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#add i {
	font-size: 10vh;
	color: #2774AE;
}

#credits {
	width: 75vw;
	font-size: 1.5vw;
	text-align: left;
	color: #FFD100;
	margin: 1vw;
	margin-top: 5vh;
	line-height: 1.5vw;

	font-family: Helvetica, Arial, sans-serif;
}

.container-actions {
	display: flex;
	flex-flow: row-reverse;
	justify-content: space-around;
	align-items: center;
}

.flag-button, .edit-button{
	font-size: 3vw;
	font-weight: bold;
	margin: 5px 2vw;
	color: #FF00A5;
	font-family: Helvetica, Arial, sans-serif;
}